@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat Black";
    src: url("../public/Montserrat-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../public/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.lightScroll::-webkit-scrollbar-track {
    background: #ffffff;
}

.lightScroll::-webkit-scrollbar-thumb {
    background: #CCC;
}

.lightScroll::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

.darkScroll::-webkit-scrollbar-track {
    background: #020617;
}

.darkScroll::-webkit-scrollbar-thumb {
    background: #343843;
}

.darkScroll::-webkit-scrollbar-thumb:hover {
    background: #434b5a;
}
